body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #f0f0f0;
	height: 100%;
}

#container {
	background-color: black;
}

@font-face {
	font-family: AvenyTRegular;
	font-style: normal;
	font-weight: 500;
	/* src: url("assets/fonts/Aveny-T-Regular.ttf"); */
	src: url("/public/assets/fonts/Aveny-T-Regular.ttf") format("truetype");
}

#root {
	height: 100%;
	touch-action: none;
}

@keyframes floatAnimation {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(
			-20px
		); /* Adjust the value to control the amount of upward movement */
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes goUpAnimation {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(-100vh);
	}
}

@keyframes scale {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(0.95);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes emojiSliderAnim {
	0% {
		transform: scaleX(0);
	}
	50% {
		transform: scaleX(1);
	}
	100% {
		transform: scaleX(0);
	}
}

@keyframes emojiSliderEmoji {
	0% {
		transform: translateX(-45px);
	}
	50% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-45px);
	}
}
