body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #f0f0f0;
	height: 100%;
}

#container {
	background-color: black;
}

@font-face {
	font-family: AvenyTRegular;
	font-style: normal;
	font-weight: 500;
	/* src: url("assets/fonts/Aveny-T-Regular.ttf"); */
	src: url("/public/assets/fonts/Aveny-T-Regular.ttf") format("truetype");
}
